// stylesheet :: contact info styles

    // settings
    $contact : 1rem;

    // styles
    .homepage_section {

        // contact wrapper
        &.contact {

            @include flex-h-j-v-c( false )

            padding: 2rem 2rem 2rem 2rem;

            @include fill( $beige );

        }

        // contact entries
        .contact_info {

            @include flex-h-s-v-st( false );

            // buttons
            .contact_entry {

                position: relative;

                @include flex-v-c-h-st( true );

                height: 3rem;
                margin: 0 2rem 0 0;
                padding: 0 0 0 2.25rem;

                // @include fill( red, 0.565 );

                // before
                &:before {

                    position: absolute;

                    top: 0;
                    bottom: 0;
                    left: 0;

                    z-index: 10;

                    content: '';

                    // width: 3rem;
                    // height: 3rem;

                    @include codicon( 2rem, 3rem, 0.5rem 0 0.5rem 0, 1.5rem, inherit, inherit );

                    @include typo( 2rem, 0.000em );

                    // @include fill( $blue, 0.565 );

                }

                // phone
                &.phone {

                    // before
                    &:before {

                        content: '\EA1D';

                        @include color( $g140 );

                    }

                }

                // email
                &.email {

                    // before
                    &:before {

                        content: '\EA2F';

                        @include color( $blue );

                    }

                }

                // shipping
                &.shipping {

                    // before
                    &:before {

                        content: '\EC0F';

                        @include color( $cvellow );

                    }

                }

                // usps
                &.usps {

                    // before
                    &:before {

                        content: '\EA35';

                        @include color( $roarange );

                    }

                }

                // common
                span {

                    // label
                    &.label {

                        @include font( $industry, 0.6875rem, 700 );

                        @include text( $up );

                        @include color( $app05, 0.365 );

                    }

                    // content
                    &.content {

                        @include font( $klavislim, 0.875rem, 500 );

                        @include typo( 1rem, 0.025em );

                        @include color( $app05, 0.165 );

                    }

                }

            }

        }

        // contact button
        #contact_button {

            @include flex-h-c-v-c( true );

            align-self: flex-end;

            height: 3rem;
            margin: 0 0 0 0;
            padding: 0.125rem 2rem 0 2rem;

            @include font( $klavislim, 1rem, 400 );

            @include text( $up );

            @include typo( 0.875rem, 0.035em );

            @include color( $beige );

            @include fill( $g135 );

            @include shadowbox( 1rem, 2.5rem, black, 0.565 );

            transition: $all220;

            // hover
            &:hover {

                @include fill( $g140 );

            }

        }

    }
