// ========================================================================================================================
// STYLESHEET :: VDL billboard layout styles
// ========================================================================================================================

    // settings
    $billboard : 100vh;

    // styles
    #special_billboard.vdl {

        position: relative;

        @include flex-h-j-v-s( false );

        margin: 5rem 0 0 0;

        overflow: hidden;

        // mobile
        @include breakpoint ( medium down ) {
        
            @include flex-v-t-h-st ( false );
        
        }

        // mobile
        @include breakpoint ( small only ) {
        
            margin: 4rem 0 0 0;
        
        }

        // common
        .billboard_component {

            // main view
            &.main {

                position: relative;

                @include flex-v-b-h-s( false );

                width: 65%;
                // padding: 0 5rem 5rem 5rem;

                background: {

                    // image: url(../img/billboard.05.jpg);
                    repeat: no-repeat;
                    size: cover;
                    position: center bottom;

                }

                // mobile
                @include breakpoint ( medium down ) {
                
                    width: 100%;
                    height: 50vh;
                
                }

                // after
                &:after {

                    content:'';

                    position: absolute;

                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;

                    z-index: 10;

                    background: {

                        image:

                            linear-gradient(

                                0deg,
                                transparentize( $nite, 0.165 ) 0%,
                                transparent 100%

                            ),

                            linear-gradient(

                                0deg,
                                transparentize( $g135, 0.165 ) 0%,
                                transparent 100%

                            ),

                            linear-gradient(

                                45deg,
                                transparentize( $g140, 0.000 ) 0%,
                                transparent 100%

                            )

                        ;

                    }

                }

                // text
                .billboard_text {

                    position: relative;

                    z-index: 20;

                    margin: 0 2rem 5rem 5rem;

                    // mobile
                    @include breakpoint ( small only ) {
                    
                        margin: 0 2rem 2rem 2rem;
                    
                    }

                    // headline
                    .headline {

                        margin: 0 0 1rem 0;

                        @include font( $klavislim, 4rem, 400 );

                        @include typo( 2.875rem, inherit );

                        @include text( $up );

                        // mobile
                        @include breakpoint ( small only ) {
                        
                            @include font( $klavislim, 2.5rem, 400 );    
                        
                        }

                        // white
                        .white {

                            @include color( white );

                        }

                        // green
                        .green {

                            @include color( $cvellow );

                        }

                    }

                    // subheadline
                    .subheadline {

                        @include font( $industry, 0.875rem, 600 );

                    }

                }

            }

            // quick links
            #billboard_quicklinks {

                position: absolute;

                top: 2rem;
                right: 2rem;

                z-index: 100;

                // mobile
                @include breakpoint ( small only ) {
                
                    left: 2rem;

                    @include flex-h-j-v-t ( false );
                
                }

                // common
                .quicklink {

                    position: relative;

                    @include flex-h-s-v-c( true );

                    height: 3rem;
                    padding: 0.125rem 1.25rem 0 2.75rem;
                    margin: 0 0 0 1rem;

                    @include font( $industry, 0.6875rem, 700 );
                    // @include font( $klavislim, 0.875rem, 400 );

                    @include typo( 0.4375rem, 0.055em );

                    @include text( $up );

                    @include color( white );

                    @include fill( $g140, 0.135 );

                    @include shadowbox( 1rem, 2.5rem, black, 0.425 );

                    transition: $all220;

                    // mobile
                    @include breakpoint ( small only ) {
                    
                        height: 2rem;
                        margin: 0 0 0 0;
                        padding: 0.125rem 1rem 0 2.25rem;
                    
                    }

                    // before
                    &:before {

                        position: absolute;

                        top: 0.5rem;
                        bottom: 0.5rem;
                        left: 0.5rem;

                        // @include codicon( 2rem, 2rem, 0.5rem, 1rem, $cvellow, '\E90D' );
                        @include codicon( 2rem, 2rem, 0.5rem, 1rem, white, '\E90D' );

                        transition: $all220;

                        // mobile
                        @include breakpoint ( small only ) {
                        
                            top: 0;
                            bottom: 0;
                            left: 0.25rem;
                        
                        }

                    }

                    // hover state
                    &:hover {

                        @include color( white );

                        @include fill( lighten( $g140, 5% ), 0.000 );

                    }

                }

                // pay bill
                #pay_bill {

                    // before
                    &:before {

                        content: '\EA15';

                    }

                }

                // results
                #view_results {

                    // before
                    &:before {

                        content: '\EC52';

                    }

                }

            }

            // sidebar
            &.sidebar {

                @include flex-v-t-h-st( false );

                width: 35%;
                padding: 2rem 2rem 0 2rem;

                @include fill( darken( $beige, 7.5% ) );

                // mobile
                @include breakpoint ( medium down ) {
                
                    @include flex-h-s-v-t ( false );

                    flex-wrap: wrap;

                    width: 100%;
                    padding: 2rem 1rem 0 1rem;
                
                }

                // buttons
                .sidebar_button {

                    @include flex-v-b-h-s( false );

                    margin: 0 0 2rem 0;
                    padding: 2rem 2rem 2rem 2rem;

                    @include text( normal, left, none );

                    @include fill( $g135 );

                    @include shadowbox( 1rem, 3rem, black, 0.655 );

                    transition: $all220;

                    // mobile
                    @include breakpoint ( medium down ) {
                    
                        width: calc( 50% - 2rem );
                        margin: 0 1rem 2rem 1rem;
                    
                    }

                    // mobile
                    @include breakpoint ( small only ) {
                    
                        width: 100%;
                    
                    }

                    // progressive color
                    &:nth-of-type( 1 ) {

                        @include fill ( $dark );

                        // title
                        .button_text.title {

                            // icon
                            &:before {

                                content: '\ED72';

                            }

                        }

                    }

                    // progressive color
                    &:nth-of-type( 2 ) {

                        @include fill ( $g135 );

                        // title
                        .button_text.title {

                            // icon
                            &:before {

                                content: '\EC55';

                            }

                        }

                    }

                    // progressive color
                    &:nth-of-type( 3 ) {

                        @include fill ( $g140 );

                        // title
                        .button_text.title {

                            // icon
                            &:before {

                                content: '\EA35';

                            }

                        }

                    }

                    // hover state
                    &:hover {

                        @include fill( $cvnavy );

                    }

                    // common
                    .button_text {

                        // title
                        &.title {

                            position: relative;

                            margin: 0 0 0.5rem 0;
                            padding: 0 0 0 1.5rem;

                            @include font( $klavislim, 1.5rem, 400 );

                            @include typo( 1.5rem, 0.045em );

                            @include text( $up );

                            @include color( white );
                            // @include color ( $cvellow );

                            // mobile
                            @include breakpoint ( small only ) {
                            
                                @include font( $klavislim, 1.25rem, 400 );
                            
                            }

                            // icon
                            &:before {
                                
                                @include codicon ( 1rem, 1rem, 0, 1rem, transparentize( white, 0.365 ), '\EC4C' );
                                @include codicon ( 1rem, 1rem, 0, 1rem, $cvellow, '\EC4C' );

                                position: absolute;

                                top: 0.1875rem;
                                left: 0;

                            }

                        }

                        // text
                        &.description {

                            @include font( $industry, 0.75rem, 600 );

                            @include typo( inherit, 0.055em );

                            @include color( white, 0.235 );

                        }

                    }

                }

                #test_information {

                    padding: 2rem 2rem 2rem 2rem;

                    @include fill ( darken( $roarange, 5% ) );

                    // hover state
                    &:hover {

                        @include fill ( $cvnavy );

                    }

                    // title
                    .button_text.title {

                        // margin: 0 0 0 0;

                        // icon
                        &:before {

                            content: '\EBEA';

                            color: white;

                        }

                    }

                }

            }

        }

    }
