// ========================================================================================================================
// STYLESHEET :: test procedure search styles
// ========================================================================================================================

    // settings
    $search : 1rem;

    // styles
    #search_procedure_database {

        position: relative;

        z-index: 100;

        width: 100%;
        padding: 5rem 5rem 5rem 5rem;

        // @include flex-h-j-v-c( false );

        @include fill( $dark, 0.000 );

        background: {

            image:

                linear-gradient(
                    
                    99deg,
                    transparentize( $blue, 0.465 ) 0%,
                    transparentize( transparent, 1.000 ) 100%

                )
                
            ;

        }

        // main control container
        #search_procedures_controls_container {

            @include flex-h-j-v-t ( false );

        }

        // static content
        #search_procedures_static {

            flex-grow: 1;

            // heading
            h3 {

                margin: 0 0 1rem 0;

                @include font ( $klavislim, 1.5rem, 400 );

                @include text ( $up );

                @include typo ( 1rem, 0.045em );

                @include color ( $cvellow );

            }

            // text
            p {

                margin: 0 0 0 0;

                @include font ( $industry, inherit, 600 );

                @include typo ( inherit, 0.045em );

            }

        }

        // control group
        #search_procedures_input {

            @include flex-h-j-v-c( false );

            min-width: 24rem;

        }

        // control group
        #search_procedures_input_control {

            width: 100%;
            height: 3rem;

            // mobile
            @include breakpoint ( small only ) {

                @include font( $industry, 0.6875rem, 700 );

            }

        }

        // control directory view(s)
        .dataTables_filter {

            display: inline-block;

            min-width: 24rem;
            height: 3rem;

            // background-color: red;

            @include shadowbox ( 1rem, 2rem, black, 0.535 );

            // label
            label {

                position: relative;

                @include flex-h-s-v-c ( true );

                width: 24rem;
                height: 3rem;
                margin: 0 0 0 0;
                padding: 0 0 0 3rem;

                text-indent: -9999rem;

                overflow: hidden;

                @include color ( white, 1.000 );

                transition: $all220;

                // icon
                &:before {

                    position: absolute;

                    top: 0;
                    bottom: 0;
                    left: 0;

                    z-index: 100;

                    text-indent: 0;

                    overflow: visible;

                    @include codicon( 3rem, 3rem, 1rem, 1rem, white, '\EF0F' );
                    @include codicon( 3rem, 3rem, 1rem, 1rem, white, '\EB37' );

                    @include fill ( white, 0.865 );
                    @include fill ( $roarange );

                }

            }

            // input
            input {

                // @include flex-h-s-v-c( true );

                width: 21rem;
                height: 3rem;
                margin: 0 0 0 0;
                padding: 0 0.5rem 0 1rem;

                border: 1px solid transparent;

                @include font( $industry, 0.75rem, 600 );

                @include typo ( 0.5rem, 0.045em );

                @include color( white, 0.000 );

                @include fill( white, 0.965 );

                // @include shadowbox ( 1rem, 2rem, black, 0.535 );

                transition: $all220;

                // placeholder
                &::placeholder {

                    @include font ( $industry, 0.6875rem, 600, italic );

                    @include color ( white, 0.365 );

                }

                // focus state
                &:focus {

                    border: 1px solid $roarange;
                    border-left: transparent;

                    @include fill( white, 0.865 );

                    // @include shadowbox( 1rem, 2rem, black, 0.565 );

                    outline: none;

                    &::placeholder {

                        font-style: normal;

                        @include color ( white, 0.465 );

                    }

                }

            }

        }

        // view all procedures
        #view_all_procedures {

            // link
            #view_all_procedures_link {

                @include flex-h-c-v-c( false );

                height: 3rem;
                margin: 0 2rem 0 0;
                padding: 0.0625rem 1.25rem 0 1.25rem;

                @include font ( $industry, 0.6875rem, 700 );

                @include text ( none );

                @include typo ( 0.5rem, 0.035em );

                @include color( white );

                @include fill ( $blue );

                @include shadowbox ( 0.75rem, 2rem, black, 0.565 );

                transition: $all220;

                // hover state
                &:hover {

                    @include fill ( $g140 );

                }

            }

        }

        // auto markup (EXPLORE API -> RESOLVE PROGRAMATICALLY)
        .dataTables_wrapper {

            margin: 0 0 0 0;

        }

        // table
        .procedures {

            width: 100% !important;
            margin: 2rem 0 0 0;

            @include font( $industry, 0.875rem, 600 );

            // toggle state
            &.toggle_me {

                transition: $all220;

                // disabled
                &.disabled {

                    display: none;

                    visibility: hidden;

                    opacity: 0.000;

                }

                // revealed
                &.revealed {

                    display: table;

                    visibility: visible;

                    opacity: 1.000;

                }

            }

            // header
            thead {

                // @include fill( $g135, 0.000 );
                @include fill( $cvnavy, 0.000 );

                // @include shadowbox ( 1rem, 2rem, black, 0.685 );

                // row
                tr {

                    height: 2rem;

                }

                // head
                th {

                    padding: 0.125rem 0.75rem 0 0.75rem;

                    @include font ( $industry, 0.6875rem, 700 );

                    @include text ( $up );

                    @include typo ( inherit, 0.045em );

                }

            }

            // row
            .procedure {

                height: 2rem;

                @include font( $industry, 0.875rem, 600 );

                @include typo( inherit, -0.005em );

                transition: all 320ms $outex 0ms;

                // mobile
                @include breakpoint ( small only ) {

                    position: relative;

                    // icons
                    &:before,
                    &:after {

                        position: absolute;

                        top: 0;
                        bottom: 0;
                        left: 0;

                        @include flex-v-c-h-c( false );

                        @include codicon( 1.5rem, 2.3125rem, 0.6875rem 0 0.4375rem 0.5rem, 0.5rem, $blue, inherit );

                        transition: all 220ms linear 0ms;

                    }

                    // before
                    &:before {

                        // content: '\ED5B';

                        opacity: 1.000;

                    }

                    // after
                    &:after {

                        // content: '\ED5C';

                        opacity: 0.000;

                    }

                }

                // hover state
                &:hover {

                    @include color ( white, 0.000 );

                    @include fill ( $campaign, 0.145 );

                    cursor: pointer;

                    @include shadowbox ( 1rem, 2rem, black, 0.685 );

                }

                // common
                .procedure_link {

                    display: block;

                    // padding: 0.5625rem 0.75rem 0.4375rem 0.75rem;
                    padding: 0.125rem 0.75rem 0rem 0.75rem;

                    text-decoration: none;

                    @include color ( white );

                }

            }

            // column
            .link_column {

                padding: 0;

            }

            // child row (mobile)
            tr.child {

                @include fill( $g140, 0.000 );

                // list
                .dtr-details {

                    @include font( $industry, 0.75rem, 600 );

                    @include color( white, 0.000 );

                    // link
                    a {

                        @include color( $campaign, 0.000 );

                    }

                }

            }

        }

    }
